[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/cgltf"]
	path = external/cgltf
	url = git@github.com:jkuhlmann/cgltf.git
